<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Page Book</h1>
<table>
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Author</th>
    <th>ArticleType</th>

    </thead>
    <tbody>
    <th:block th:each="book, stat : ${books}">
        <tr id="saveBookForm">
            <td th:text="${book.id}"></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getArticleType}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<a th:href="@{'/bookcreate'}">Nouveau Book</a>
</body>
</html>