<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>
<h1>Page Client</h1>
<table>
    <thead>
    <th>Id</th>
    <th>Nom</th>
    <th>Prenom</th>

    </thead>
    <tbody>
    <th:block th:each="client, stat : ${clients}">
        <tr id="saveClientForm">
            <td th:text="${client.id}">1</td>
            <td th:text="${client.getLastName()}">2</td>
            <td th:text="${client.getFirstName()}">3</td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>