<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emprunt Book</title>
</head>
<body>
<form action="#" th:action="@{/empruntbook}" th:object="${empruntBookForm}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <table border="1">
    <tr>

      <td><label>Book Title</label></td>
      <td><input type="text" th:field="*{article}" /></td>
    </tr>
    <tr>
      <td><label>Client Id</label></td>
      <td><input type="number" th:field="*{client.id}" /></td>
    </tr>
    <tr>
      <td><label>Book Type</label></td>
      <td><input type="text" th:field="*{articleType}" /></td>
    </tr>
    <tr>
      <td><input type="submit" value="Save" /></td>
    </tr>
  </table>
</form>
</body>
</html>