<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Page Emprunt</h1>
<table>
    <thead>
    <th>Id</th>
    <th>Client</th>
    <th>Article</th>
    <th>isReturn</th>

    </thead>
    <tbody>
    <th:block th:each="emprunt, stat : ${emprunts}">
        <tr id="saveEmpruntForm">
            <td th:text="${emprunt.id}"></td>
            <td th:text="${emprunt.getClient.getLastName()}"></td>
            <td th:text="${emprunt.getExemplaire().getArticle().getTitle()}"></td>
            <td th:text="${emprunt.isReturn}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<a th:href="@{'/empruntcreate'}">Nouveau Emprunt</a>
</body>
</html>