<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD CLIENT</title>
</head>
<body>
<form action="#" th:action="@{/clientcreate}" th:object="${saveClientForm}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <table border="1">
    <tr>

      <td><label>Prenom</label></td>
      <td><input type="text" th:field="*{firstName}" /></td>
    </tr>
    <tr>
      <td><label>Nom de famille</label></td>
      <td><input type="text" th:field="*{lastName}" /></td>
    </tr>
    <tr>
      <td><label>Age</label></td>
      <td><input type="number" th:field="*{age}" /></td>
    </tr>
    <tr>
      <td><input type="submit" value="Sauve" /></td>
    </tr>
  </table>
</form>
</body>
</html>